<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--

   This file contains all log4j configurations for the GenTaToo webapp.
   
   To invoke logging, you have to set the property org.apache.cocoon.log4j.loglevel
   in gentatoo.properties
   
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!--
    - This is a sample configuration for log4j.
    - It simply just logs everything into a single log file.
    - Note, that you can use properties for value substitution.
    -->
	<appender name="CORE" class="org.apache.log4j.FileAppender">
		<param name="File"   value="${org.apache.cocoon.work.directory}/cocoon-logs/log4j.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %t %c - %m%n"/>
		</layout>
	</appender>
  
    <!--
      - This appender logs into a MySQL Database by log4j by a simple sql insert statement 
    -->
	<appender name="MySQL" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="URL" value="jdbc:mysql://host/dbname" />
		<param name="user" value="user" />
		<param name="password" value="password" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="INSERT INTO GTT_LOG (Msg) VALUES ('%d - %c - %p - %m')"/>
		</layout> 	  
	</appender>

  <!-- appender configuration for logs with level DBACTION -->
	<category name="org.gentatoo">   
		<priority value="DBACTION" class="org.gentatoo.log4j.DBActionLogLevel" />   
		<appender-ref ref="MySQL"/> 
	</category> 

  <!-- default appender configuration -->
	<root>
		<priority value="${org.apache.cocoon.log4j.loglevel}"/>
		<!-- no appender for default logs, so there is no output for these -->
		<!-- <appender-ref ref="CORE"/> -->
	</root>
  
</log4j:configuration>
